<%- include("header"); %>

<p>Requested API-key:
    <strong>
        <span id="apikey"><%= apiKey %></span>
    </strong>
</p>

<p>Store the API-key somewhere safe.</p>

<p><a href="/">API documentation</a></p>

<%- include("footer"); %>